<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2> Add Patient</h2>
    <form action = "{{ url_for ('add_patient') }}" method = "POST"> 
        <input type = "text" placeholder = "Patient id" name = "Patient_ID"> </input>
        <input type = "text" placeholder = "Name" name = "Name"> </input>
        <input type = "number" placeholder = "Age" name = "Age"> </input>
        <input type = "text" placeholder = "Sex" name = "Sex"> </input>
        <input type = "text" placeholder = "Medical record number" name = "Medical_record_number"> </input>
        <input type = "text" placeholder = "Diagnosis" name = "diagnosis"></input>
        <input type = "submit" value = "Submit"></button>
    </form>
    <div>
     
      </ul>
    </div>
    <script src="index.js"></script>
  </body>
</html>